# PyCharm prjekt filer
.idea/

# Virtuella miljöer
.venv/
venv/

# cache:ade filer
__pycache__/
*.py[cod]

# databas-filer
*.db

# Flask instans-mapp
instance/

# Miljö-variabler
.env

# Testrapporter och täckningsdata
*.log
*.coverage
htmlcov/