# PyCharm project files
.idea/

# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# SQLite database files
*.db

# Flask instance folder
instance/

# Environment variables
.env

# Test reports and coverage data
*.log
*.coverage
htmlcov/