# PyCharm prjekt filer
.idea/

# Virtuella miljöer
.venv/
venv/

# cache:ade filer
__pycache__/
*.py[cod]

# databas-filer
*.db

# Flask instans-mapp
instance/

# Miljö-variabler
.env
postman_tests/*.env.json
!postman_tests/*.env.example.json

# Rapportfiler från Newman
postman_tests/*.hmtl
postman_tests/*.hmt

# Testrapporter och täckningsdata
*.log
*.coverage
htmlcov/